@import "navbar.css";

body {
    background-image: url("Bucket-List/background.JPG");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.title {
    font-size: min(100px, 7.5vw);
    font-weight: 1000;
    color: black;
    text-align: center;
    text-shadow: 0.1vw 0.1vw white;
    margin-top: max(72px, 10vw);
}

.bucket ul {
    max-height: 0;
    overflow: hidden;
    text-align: left;
    transition: max-height 0.2s ease-in-out;
}

.bucket li {
    font-size: max(16px, 2vw);
    font-weight: 1000;
    color: white;
    text-shadow: 0.15vw 0.15vw black;
    background-color: rgba(255,255,255,0.1);
    margin: 0 10vw 0 10vw;
    padding: 10px 0 10px 5vw;
    border-bottom: solid white min(2px, 0.25vw);
    border-radius: 5px;
    list-style: none;
    transition: all 0.3s ease 0s;
}

.bucket li:hover {
    color: #0088A9;
    background-color: rgba(255,255,255,0.5);
}

img {
    margin: 1vw 12vw 2vw 14vw;
    box-shadow: 0.5vw 0.5vw 0.75vw rgba(5,5,5,0.5);
    height: auto;
    width: max(70%, 225px);
}

.subcategory li {
    font-size: max(12px, 1.75vw);
    font-weight: 1000;
    color: white;
    text-shadow: 0.15vw 0.15vw #0088A9;
    background-color: rgba(255,255,255,0);
    margin-left: 9vw;
    border-bottom: solid white 0;
    border-radius: 5px;
    list-style: none;
}

.subcategory li:hover {
    color: white;
    background-color: rgba(255,255,255,0);
}

.collapsible {
    cursor: pointer;
}

.collapsible:after {
    font-size: 18px;
    text-shadow: none;
    margin: 0.5vw 25px 10px 0;
    content: "+";
    float: right;
}
  
.active:after {
    content: "–";
}