@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
    cursor: pointer;
}

.navbar li, a {
    font-family: "Arvo", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: white;
    text-decoration: none;
    background-color: black;
}

.navbar {
    width: 98.9%;
    text-align: center;
    background-color: black;
    position: fixed;
    top: 10px;
}
.navbar ul {
    display: inline-block;
    margin: 20px;
    padding: 2px;
    background-color: black;
}
.navbar li {
    display: inline-block;
    padding: 0px 50px;
    background-color: black;
}
.navbar li a {
    transition: all 0.3s ease 0s;
}

.navbar li a:hover {
    color: #0088A9;
}

body {
    background-image: url("https://lh3.googleusercontent.com/pw/ACtC-3fH5ps_sED1UnwdCERfZHZc0E_EPKQ9SdORjBk-fOPWY5tGwjJ4zWxrZXjOdDOPSQiJ-AFy-ud4hRKLl3PEBB2vyKilrfJon-UEEOEqR9GaQTXhYqfRh6TirjD5ii4kYXRw0Oe8MO0B2FTAPKZCs0qt=w2109-h1406-no?authuser=0");
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-family: "Arvo", sans-serif;
    font-weight: 1000;
    font-size: 100px;
    color: black;
    margin-top: 150px;
    text-align: center;
    text-shadow: 2px 2px white;
}

.bucket ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

.bucket li {
    font-family: "Arvo", sans-serif;
    font-weight: 1000;
    font-size: 32px;
    color: black;
    text-shadow: 2px 2px white;
    background-color: rgba(255,255,255,0.1);
    margin-left: 200px;
    padding: 10px 0px 10px 100px;
    border-radius: 5px;
    border-bottom: solid white 2px;
    width: 62.5%;
    list-style: none;
    transition: all 0.3s ease 0s;
}

.bucket li:hover {
    color: #0088A9;
    background-color: rgba(255,255,255,0.5);
}

.subcategory li {
    font-family: "Arvo", sans-serif;
    font-weight: 1000;
    font-size: 28px;
    color: white;
    margin-left: 200px;
    text-shadow: 2px 2px black;
    padding: 10px 0px 10px 100px;
    border-radius: 5px;
    list-style: none;
    background-color: rgba(255,255,255,0);
    border-bottom: solid white 0px;
}

.subcategory li:hover {
    color: white;
    background-color: rgba(255,255,255,0);
}

.collapsible:after {
    content: "+";
    float: right;
    font-size: 24px;
    text-shadow: none;
    margin: 4px 20px 0px 0px;
}
  
.active:after {
    content: "–";
}

.bucket img {
    margin: 10px 0px 20px 300px;
    box-shadow: 10px 10px 15px rgba(5,5,5,0.5);
}