@import "navbar.css";

body {
    background-image: url("Resume/background.JPG");
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    margin: 0;
}

img {
    width: min(770px, 98%);
}

img:first-of-type {
    margin-top: max(50px, 8vw);
}

.download {
    list-style: none;
}

.download a {
    font-size: max(14px, 1.5vw);
    font-weight: 1000;
    color: black;
    display: table;
    margin: min(20px, 2vw) auto min(50px, 5vw) auto;
    padding: 10px 15px 10px 15px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 25px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.download a:hover {
    color: white;
    background-color: rgba(40, 132, 194, 0.5)
}



